*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

.div_form{
    background-color: rgb(69, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 88vh;
    margin-top: 32px;
    margin-bottom: 32px;

    padding: 16px;
}

form{
    width: 100%;
    /* background-color: red; */
}

fieldset{
    border: none;
    /* background-color: green; */
    width: 100%;
    margin: 0 auto;
}

legend{
    font-size: 32px;
    text-align: center;
    color: rgb(124, 124, 124);
    margin-bottom: 16px;
}

label{
    font-size: 16px;
    color: white;
}

.input{
    padding: 8px;
    width: 100%;
    background-color: rgb(47, 47, 47);
    border-bottom: 2px solid white;
    margin-bottom: 16px;
}

.input_btn{
    display: flex;
    justify-content: flex-end;
}

.input_btn input{
    background-color: rgb(89, 89, 89);
    margin-top: 32px;
    padding: 16px;
    cursor: pointer;
}